{% extends "base.html" %}

{% block content %}
<div class="min-h-screen w-full bg-background">
    {% include "components/_header.html" %}
    
    <main class="container mx-auto p-4 md:p-6 lg:p-8">
        {% include "components/_tabs.html" %}
        
        <div class="mt-6">
            {% if active_tab == 'dashboard' %}
                {% include "partials/_dashboard.html" %}
            {% elif active_tab == 'profile' %}
                {% include "partials/_profile.html" %}
            {% elif active_tab == 'history' %}
                {% include "partials/_history.html" %}
            {% elif active_tab == 'meds' %}
                {% include "partials/_medications.html" %}
            {% elif active_tab == 'vaccines' %}
                {% include "partials/_vaccines.html" %}
            {% elif active_tab == 'labs' %}
                {% include "partials/_labs.html" %}
            {% elif active_tab == 'emergency' %}
                {% include "partials/_emergency.html" %}
            {% endif %}
        </div>
    </main>
</div>
{% endblock %}